* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

/* HEADER */

header {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    
}

h1 {
    text-align: center;
    background-color: white;
    padding: 10px;
    width: 100%;
}

.logo { 
    max-height: max-content 20%;
    align-self: left;
    width: 80px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    Margin: 0.5em 
}

ul {
    display: flex; 
    justify-content: space-around; 
    list-style-type: none;
}

li {
    margin: 0.5em;
}

li a:hover{
    background-color: white;
    border-radius: 20%;
}

li a{
    display: block;
    color: black;
    box-sizing: border-box 1em;
    padding: 1em;
}


footer { 
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
             
