* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke
}

/* HEADER */

header {
    background-color: lightblue;
    display: flex;
}

h1 .logo { 
    max-width: 4%;
}

h1 {
    text-align: center;
    background-color: whitesmoke;
    padding: 10px
}

h1 a{
    color: black;
    text-decoration: none;
}

figcaption {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-style: italic;
    margin: .5em;
}

/* hier begint nav */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    transition: 4s;
    
}

ul {
    display: flex; 
    justify-content: space-around; 
}

li {
    margin: 0.5em; 
    list-style-type: none;
}    

li a:hover{
    background-color: white;
    border-radius: 10%;
}

li a {
    display: block;
    color: black;
    padding: 1em;
    list-style-type: none;
    text-decoration: none;
}


/* hier eindigt de nav */

h2 {
    display: flex;
    justify-content: center;
    padding: .5em; 
}

.inleidingstekst {
    display: flex;
    justify-content: center;
}

/* Hier begint de home section */

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    margin-left: 10em;
    margin-right: 10em;
} 

.home section {
    display: flex;
    justify-content: center;
    padding: 2em;
    margin: 1em;
    background-color: aliceblue;
    border-style: solid;
}

.home h3 {
    text-align: center;
}

.home img {
    max-width: 30%;
}

.home p { 
    margin: 1em
}

/* Hier begint de pagina geschiendis section */

.history {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    border-style: solid;
    margin: 5em;
    background-color: aliceblue
}

.history figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history img {
    width: 75%;
}

.history section {
    margin: 1em;
}

.history p {
    margin: .75em;
}

/* hier begint de pagina onafhankelijkheid */

.onafhankelijkheidsstrijd {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    padding: 2em;
    border-style: solid;
    margin: 3em;
    margin-left: 20em;
    margin-right: 20em;
    background-color: white
}

.onafhankelijkheidsstrijd figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
}

.onafhankelijkheidsstrijd img {
    width: 100%;
}

.onafhankelijkheidsstrijd h3 {
    display: flex;
    justify-content: center;
    margin: 1em;
}

/* hier begint de pagina contact */

.mail {
    display: flex;
    justify-content: center;
}

.mail h2 {
    display: flex;
    justify-content: center;
}

.mail section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    border-style: solid;
    padding: 2em;
    margin: 2em;
}
    
.mail img {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.mail p{
    display: flex;
    justify-content: center;
}

.mail h3 {
    display: flex;
    justify-content: center;
}


footer { 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: lightcoral;
}